@model IEnumerable<Backlog.Models.MovieRecord>

@section scripts {
    <script src="~/js/Index.js" type="text/javascript"></script>
}

<div class="text-left">
    <table class="list-group-item">
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <img src=@movie.ThumbnailUrl style="width:92px;height:140px;">
                </td>
                <td>
                    <a href="@movie.ImdbUrl" class="">@movie.Title</a>
                    <b> - (@movie.Year)</b><br />
                    <button id="@movie.Title" class="btn-outline-primary" onclick="addMovie('@movie.Title', @movie.Year, '@movie.ImdbUrl', '@movie.ThumbnailUrl')">Add to backlog</button>
                </td>
            </tr>
        }
    </table>
</div>