@model IEnumerable<MovieBacklog.Models.MediaRecord>

@section scripts {
    <script src="~/js/Index.js" type="text/javascript"></script>
}

<div class="text-left">
    <table class="list-group-item">
        @foreach (var media in Model)
        {
            <tr>
                <td>
                    <img src=@media.ThumbnailUrl style="width:92px;height:140px;">
                </td>
                <td>
                    <div>
                        <a href="@media.ImdbUrl" class="">@media.Title</a>
                        <b> - (@media.Year)</b><br />
                        @if (media.IsMovie == false)
                        {
                            <b>Tv Show</b>
                        }
                    </div>
                    
                    <button id="@media.Title@media.Year" class="btn-outline-primary" onclick='addMovie({title: "@media.Title", year: @media.Year, imdbUrl: "@media.ImdbUrl", thumbnailUrl: "@media.ThumbnailUrl", isMovie: "@media.IsMovie"})'>Add to backlog</button>
                </td>
            </tr>
        }
    </table>
</div>